.flex {
    display: flex;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.medium {
    font-size: medium;
}

.small {
    font-size: small;
}

.x-small {
  font-size: x-small;
}

@media only screen and (max-width: 600px) {
  .x-small {
    font-size: xx-small;
  }
}

.monospace {
    font-family: "Monaspace";
}

.centered {
  text-align: center;
}
